body{
    background-color: cornflowerblue;
    color: black;
    margin:0;
    text-align: left;    
  }

  div.page{
	background-color: white;
  }
  
nav.navbar{
    margin-bottom: 0;
  }

nav.navbar-nav {
    margin: 0;
}

h1{
    margin: 1em 0;
  }

div.container{
    margin:0 auto;
    max-width: 600px
}

div.mast{
    background-color: lightblue;
  }
 
 div.main-content div.container{
    padding: 1em;
}

img{
    width:100%;
    max-width:600px;
}