body{
    background-color: white;
    color: black;
    margin:0;
    text-align: left;    
  }

nav.navbar{
    margin-bottom: 0;
  }

div.container{
    margin:0 auto;
    width: 600px
}

div.mast{
    background-color: lightblue;
  }
 
 div.main-content div.container{
    padding: 1em 0;
}