body{
    background-color: cornflowerblue;
    color: black;
    margin:0;
    text-align: left;    
  }

  div.page{
	background-color: white;
	margin: 0 auto;
	width: 600px
  }
  
nav.navbar{
    margin-bottom: 0;
  }

nav.navbar-nav {
    margin: 0;
}

h1{
    padding: 0.25em;
  }

div.container{
    margin:0 auto;
    }
	
div.container ul.nav li{
	display: block;
	float: left;
	
}

div[role=main]{clear:both;}

div.mast{
    background-color: lightblue;
  }
 
 div.main-content div.container{
    padding: 1em;
}

img{
    height: 640px;
	width:480px    
}